---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

~> **This resource is deprecated** Please use the [cloudinit_config](https://registry.terraform.io/providers/hashicorp/cloudinit/latest/docs/data-sources/cloudinit_config)
  data source instead.

{{ .Description }}

## Example Usage

{{ tffile "examples/resources/cloudinit_config/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
