---
page_title: "{{ .ProviderShortName }} Provider"
description: |-
  {{ .Description | plainmarkdown }}
---

# {{ .ProviderShortName }} Provider

{{ .Description }}

This provider requires no configuration. For information on the resources it provides, see the navigation bar.

{{- /* No schema in this provider, so no need for this: .SchemaMarkdown | trimspace */ -}}